<nav class="navbar navbar-expand-md navbar-light bg-light border p-3">
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img src=" https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/2048px-Angular_full_color_logo.svg.png" class="fas fa-anchor text-warning fa-2x" width="80" height="80" class="d-inline-block align-top m-3 border-rounded"
                alt="angular">
        </a>
    </nav>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse col-md-9" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto p-3">

            <li class="nav-item active">
                <a class="nav-link" [routerLink]="['home']">
                    <button type="button" class="btn btn-outline-primary">Accueil</button>
                </a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" [routerLink]="['réservations']">
                    <button type="button" class="btn btn-outline-primary">Vos réservations</button>
                </a>
            </li>


            <li class="nav-item active">
                <a class="nav-link" [routerLink]="['annonces']">
                    <button type="button" class="btn btn-outline-primary">Vos annonces</button>
                </a>
            </li>


            <li class="nav-item active">
                <a class="nav-link" [routerLink]="['statistiques']">
                    <button type="button" class="btn btn-outline-primary">Statistiques</button>
                </a>
            </li>
        </ul>
    </div>

    <div class="col-md-3">
        <div class="row">

            <a type="button" class="nav-link">Se déconnecter</a>
        </div>
    </div>
</nav>